
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Roboto+Slab:wght@200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400;500;515;600;700&display=swap')
/*Global styles*/
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-family: "Quicksand", serif;
    font-size: 10px;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: #ffffff;
}

a{
    text-decoration: none;
    

}



ul{
    list-style: none;
}

/*p{
    font-size: 1.6rem;
}*/

section{
    padding: 3.9rem 0;
}

body{
    background: linear-gradient(-45deg, #ffbd69, rgba(32,32,64,0.56) 58%), linear-gradient(-45deg, #ffbd69, rgba(32,32,64,0.56) 58%);
    margin: 0;
    
}

/*spinner*/

.spinner-container{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(-45deg, #ffbd69, rgba(32,32,64,0.56) 58%), linear-gradient(-45deg, #ffbd69, rgba(32,32,64,0.56) 58%);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    z-index: 300;

}

.display .spinner-container{
    opacity: 0;
    visibility: hidden;
}

.circles{
    width: 8rem;
    height: 8rem;
    position: relative;
    opacity: 0;
    visibility: hidden;
    animation: displaycircles 4s;
}

@keyframes displaycircles{
    0%{
        opacity: 25%;
        visibility: hidden;
    }
    25%{
        opacity: 1;
        visibility: visible;
    }
    90%{
        opacity: 1;
        visibility: visible;
    }
    100%{
        opacity: 0;
        visibility: hidden;
    }
}

.circles div{
    animation: circles 1.2s
    cubic-bezier(.5,0,.5,1)
    infinite;
    transform-origin: 4rem 4rem;
}

.circles div::after{
    content: "";
    position: absolute;
    width: .7rem;
    height: .7rem;
    border-radius: 50%;
    background-color: #ffbd69;
    margin: -.4rem 0 0 -.4rem;
}

.circles div:nth-child(1){
    animation-delay: -0.036s;
}

.circles div:nth-child(1)::after{
    top: 6.3rem;
    left: 6.3rem;
}

.circles div:nth-child(2){
    animation-delay: -0.072s;
}

.circles div:nth-child(2)::after{
    top: 6.8rem;
    left: 5.6rem;
}

.circles div:nth-child(3){
    animation-delay: -0.108s;
}

.circles div:nth-child(3)::after{
    top: 7.1rem;
    left: 4.8rem;
}

.circles div:nth-child(4){
    animation-delay: -0.144s;
}

.circles div:nth-child(4)::after{
    top: 7.2rem;
    left: 4rem;
}

.circles div:nth-child(5){
    animation-delay: -0.18s;
}

.circles div:nth-child(5)::after{
    top: 7.1rem;
    left: 3.2rem;
}

.circles div:nth-child(6){
    animation-delay: -0.216s;
}

.circles div:nth-child(6)::after{
    top: 6.8rem;
    left: 2.4rem;
}

.circles div:nth-child(7){
    animation-delay: -0.252s;
}

.circles div:nth-child(7)::after{
    top: 6.3rem;
    left: 1.7rem;
}

.circles div:nth-child(8){
    animation-delay: -0.288s;
}

.circles div:nth-child(8)::after{
    top: 5.6rem;
    left: 1.2rem;
}

@keyframes circles{
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}


.container{
    display: none;
}

.display .container{
    display: block;
}





/*header* /

/*header part-1 nav

header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: #202040c0;
}

nav{
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle{
    color: #ffbd69;
    font-size: 2.2rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}

#fa-times{
    display: none;
}

.nav-list{
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: #ff6363a1;
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
    transition: transform.5s;   

}

.nav::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /*background-color: #202040c0;
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity.5s;

}

.open #fa-times{
    display: block;
}

.open #fa-bars{
    display: none;
}

.open .nav-list{
    transform: translateX(0);
    

}

.open .nav::before{
    opacity: 1;
    transform: scale(1);
}

.nav-item{
    border-bottom: 2px solid rgba(32,32,64,0.56) ;
}

.nav-link{
    display: block;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
    transition: color.5s;
    
}

.nav-link:hover{
    color: #ffbd69;
} */

/*header part-2 */

.head{
    background: linear-gradient(-45deg, #ffbd69, rgba(32,32,64,0.56) 58%), linear-gradient(-45deg, #ffbd69, rgba(32,32,64,0.56) 58%);
}


.hamburger-menu{
    width: 3rem;
    height: 3rem; 
    position: fixed;
    top: 4rem;
    right: 5rem;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: right .7s;
}

.change .hamburger-menu{
    right: 33rem;
}

.line{
    width: 100%;
    height: .25rem;
    background-color: #ffbd69;
    box-shadow: 0 .1rem .2rem rgba(32,32,64,0.2);
}

.change #line-1{
    transform: rotate(45deg)
    translate(0.3rem,0.8rem);
}

.change #line-2{
    opacity: 0;
    visibility: hidden;
}

.change #line-3{
    transform: rotate(-45deg)
    translate(0.3rem,-0.8rem);
}

.hamburger-menu span{
    position: absolute;
    left: 5rem;
    width: 10rem;
    height: 4rem;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #202040;
    font-size: 1.6rem;
    letter-spacing: .1rem;
    opacity: 0;
    visibility: hidden;
    transition: all .2s;

}

.change .hamburger-menu:hover span{
    visibility: visible;
    opacity: 1;
}

.hamburger-menu span::before{
    content: "";
    position: absolute;
    border-left: 1rem solid transparent;
    border-right: 1rem solid white;
    border-bottom: 1rem solid transparent;
    top: 50%;
    left: -2rem;
    transform: translateY(-50%);
}



.sidebar{
    width: 40rem;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -40rem;
    background-color: #20204094;
    transition: right .5s;
    z-index: 100;
}

.change .sidebar{
    right: 0;
}

.menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.menu-item{
    text-align: center;
    margin-top: 70px;
    
}

.menu-link{
    font-size: 4rem;
    color: #ffffff;
    position: relative;
    
}

.menu-link::before{
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    color: #ffbd69;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width .3s ease-in-out;
}

.menu-link:hover::before{
    width: 100%;
    
}

.social-media{
    position: absolute;
    bottom: 10rem;
    width: 100%;
    display: flex;
    justify-content: center;

}

.social-media i{
    font-size: 2.2rem;
    margin: 2rem;
    width: 4.5rem;
    height: 4.5rem;
    background-color: #ffbd69;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color .3s;
}

.social-media i:hover{
    background-color: #202040;
}

/*hero */
.hero{
    width: 100%;
    height: 100vh;
    background: url("images/undraw_work_chat_erdt.svg") right 90px no-repeat;
    background-size: 900px;
    display: flex;
    align-items: center;
    text-align: left;
    perspective: 100rem;
    
}



/*.hero::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4.7rem;
    background: url("images/wave-small.png") center no-repeat;
    background-size: cover;
}*/

.welcome{
    font-size: 45px;
    color: #ffbd69;
    text-shadow: 0 .3rem .5rem #202040;

    opacity: 0;
    animation: moveBanner 1s .5s forwards;
    
    
}


.name{
    font-size: 50px;
    color: #ffbd69; 
    text-shadow: 0 .3rem .5rem #202040;

    opacity: 0;
    animation: moveBanner 1s .5s forwards;
}

.tag-line{
    font-size: 30px;
    line-height: 40px;
    text-shadow: 0 .3rem .5rem #202040;

    opacity: 0;
    animation: moveBanner 1s .6s forwards;

}

.main-message{
    line-height: 30px;
    width: 100%;
    max-width: 600px;
    position: absolute;
    top: 20%;
    left: 10%;



}

.para{
    font-size: 20px;
    text-shadow: 0 .3rem .5rem #202040;

    opacity: 0;
    animation: moveBanner 1s .7s forwards;
}

.btn{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: -2px;
    opacity: 0;
    animation: moveBanner 1s .9s forwards;
    
    
}


#cta-btn{
    background-color: #ffbd69;
    color: #202040;
    font-weight: 1000;
    font-size: 15px;
    padding: .9rem 1.8rem;
    border-radius: .4rem;
    transition: background-color .5s;
    box-shadow: 0 .3rem .5rem #202040;
    text-shadow: 0 .2rem .4rem rgb(255, 255, 255, .5);
    
}

#cta-btn:hover,
#cta-btn:focus{
    
    color:#ffffff;
    background-color: #202040;
    
}



@keyframes moveBanner{
    0%{
        transform: translateY(40rem)rotateY(-20deg);

    }
    100%{
        transform: translateY(0)rotateY(0);
        opacity: 1;
    }
}




.section-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 0 10rem 0;
}

.section-heading{
    font-size: 4rem;
    color: #ffffff;
    margin-bottom: rem;
    font-weight: 400;
}

.underline{
    width: 10rem;
    height: .2rem;
    background-color: #ffbd69;
}


/* about */

.about{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;  
    padding: 0 5rem 20rem 5rem;

}


.cards-wrapper{
    display: flex;
    justify-content: space-evenly;
    margin-top: 8rem;
    width: 100%;
}

.card{
    width: 35rem;
    height: 48rem;
    box-shadow: 0 1rem 4rem #2020406c;
    border-radius: .5rem;
    position: relative;
    transition: transform .2s;
}

.card:hover{
    transform: scale(1.05);
}

.card-img-wrapper{
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: .5rem;

}

.card-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .5rem;
    transition: opacity .3s;
}

.card:hover .card-img-wrapper img{
    opacity: .5;
}

.card-info{
    position: absolute;
    bottom: 1rem;
    padding: 3.5rem;
    text-shadow: 0 .2rem .5rem rgba(0,0,0,.4);
}

.card-info h2{
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 700;
    color: #ffbd69;
    margin-top: 3rem;
}

.card-info h3{
    font-size: 2.5rem;

    font-weight: 600;
    color:#ffffff;
    margin-bottom: .7rem;
}
.card-info h4{
    font-size: 2rem;
    line-height: 2.5rem;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 1rem;
}

.card-info p{
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 500;
    color: #ffffff;
    margin-bottom: 2rem;
}

.card-info button{
    width: 12rem;
    height: 4rem;
    background-color: #ffbd69;
    border: none;
    font-size: 1.4rem;
    line-height: 1.5rem;
    color: #202040;
    font-weight: 600;
    border-radius: .3rem;
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, 0.822);
    transition: transform .2s;
}

.card-info button:hover{
    transform: scale(1.1);
}

/* contact */

.contact{
    width: 100%;
    height: 100vh;
    background-color: #202040;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.contact-wrapper{
    width: 60%;
    height: 70rem;
    display: flex;
    box-shadow: 0 3rem 7rem rgba(0, 0, 0, 0.5);
}

.contact-left{
    width: 40%;
    background: linear-gradient(rgba(15,15,15,.5), rgba(22,22,22,.9)), url(images/contact.jpg) center no-repeat;
    background-size: cover;
}

.contact-info{
    width: 60%;
    background-color: #ffbd69;
    padding: 3rem 10rem 10rem 10rem;
}

.contact-heading{
    font-size: 5rem;
    font-weight: 400;
    color: #202040;
    margin-bottom: 4rem;
    text-align: center;

}

.contact-info form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.input-group{
    position: relative;
}

.field{
    width: 45rem;
    background-color: transparent;
    border: none;
    border-bottom: .15rem dashed #20204094;
    margin: 2.5rem 0;
    padding: 1rem 1rem 1rem 0;
    font-size: 1.6rem;
    color: #202040;
}

.field:focus{
    border-bottom-style: solid;
    outline: none;
}

.input-group input{
    height: 4rem;

}

.input-group textarea{
    max-height: 7rem;
    max-width: 45rem;

}

.input-group label{
    position: absolute;
    left: 0;
    font-size: 1.8rem;
    color: #202040;
    text-transform: uppercase;
    pointer-events: none;
    transition: all .3s;
}

.input-label{
    bottom: 4rem;
}

.message{
    bottom: 6rem;
}

.field:focus ~ label{
    transform: translateY(-3rem);
    font-size: 1.2rem;
}

.submit-btn{
    width: 45rem;
    height: 5rem;
    background-color: #202040;
    border: none;
    margin-top: 2rem;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .2rem;
    color: #ffffff;
    cursor: pointer;
    text-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.4);
    transition: transform .2s;
}

.submit-btn:hover{
    transform: scale(1.05);
}

footer{
    width: 100%;
    height: 15rem;
    background-color: #262626;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.foot{
    width: 60%;
    display: flex;
    justify-content: space-between;
}

.copyright{
    font-size: 1.6rem;
    color: #a7a7a7;

}

.social-menu h4{
    font-size: 1.6rem;
    font-weight: 500;
    
}




.social-list i{
    font-size: 2rem;
    margin-right: 3rem;
    color: #ffffff;
    transition: transform .2s;
}

.social-list i:hover{
    transform: scale(1.2);
}

.back-to-top{
    width: 7rem;
    height: 7rem;
    background-color: #262626;
    position: absolute;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50%;
}

.back-to-top i{
    display: block;
    color: white;
    font-size: 2rem;
    padding: 2.5rem
}

/* media queries*/

@media screen and (min-width: 900px){

    .hamburger-menu{
        display: none;

    }

    .container1{
        width: 100%;
        max-width: 122.5rem;
        margin: 0 auto;
        padding: 0 2.4rem;
        
    }
    

    nav{
        height: 7.2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-list{
        list-style: none;
        position: initial;
        top: 0;
        left: 0;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        display: flex;
        flex-direction: row;
        justify-content: initial;
        z-index: 1250;
        transform: initial;
        transition: initial;
           
    
    }

    .nav-item{
        margin: 0 2.4rem;
    }

    .nav-item:last-child{
        margin-right: 0;
    }
    
    .nav-link{
        display: block;
        color: #ffffff;
        text-transform: uppercase;
        font-size: 1.6rem;
        letter-spacing: 2px;
        margin-right: -2px;
        transition: color.5s;
        
    }
    
    .nav-link:hover{
        color: #ffbd69;
    }

    .title{
        font-family: sans-serif;
        font-size: 3.5rem;
        padding-top: 1rem;
        font-weight: 500;
        text-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.5);;
    }

    a h1 strong{
        color: #ffffff;
    }

    a h1{
        color: #ffbd69;

    }


    .nav a{
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .nav a img{
        height: 6rem;
        width: 6rem;   
    }


    
}



@media screen and (max-width: 1500px){
    .card{
        width: 35rem;
    }
    
    .about{
        width: 93%;
    }

    .contact-wrapper{
        width: 60%;
        height: 65rem;
    }

    .footer-content{
        width: 60%;

    }
    .hero{
        background-size: 850px;
    }


    .title{
        font-family: sans-serif;
        font-size: 3.5rem;
        color: #ffbd69;
        padding-top: 1rem;
        font-weight: 500;
        text-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.5);;
    }

    .nav a{
        align-items: center;
        justify-content: center;
        display: flex;
        bottom: 1rem;
    }

    .nav a img{
        height: 6rem;
        width: 6rem;
    
        
    }

    .container1{
        width: 80%;

    }

    a h1 strong{
        color: #ffffff;
    }

    a h1{
        color: #ffbd69;

    }


    
}
    

@media(max-width: 1400px){
    .welcome{
        font-size: 40px;
        
    }

    .about{
        width: 90%;
    }


    .hero{
        background-size: 700px;
    }
    
    
    .name{
        font-size: 50px;
        color: #ffbd69; 
        text-shadow: 0 .3rem .5rem #202040;
    
        opacity: 0;
        animation: moveBanner 1s .5s forwards;
    }
    
    .tag-line{
        font-size: 25px;
    }
    
    .card-info h2{
        font-size: 3.3rem;
        line-height: 4rem;
        
    }
    
    .card-info h3{
        font-size: 2.2rem;

    }
    .card-info h4{
        font-size: 1.8rem;
        line-height: 2.8rem;
        
    }  
    .card-info p{
        font-size: 1.7rem;
        line-height: 2.2rem;
    
    }

    .menu-link{
        font-size: 3.5rem;
    }

    .title{
        font-family: sans-serif;
        font-size: 3.5rem;
        color: #ffbd69;
        padding-top: 1rem;
        font-weight: 500;
        text-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.5);;
    }

    .nav a{
        align-items: center;
        justify-content: center;
        display: flex;
        bottom: 1rem;
    }

    .nav a img{
        height: 6rem;
        width: 6rem;
    
        
    }

    .container1{
        width: 80%;

    }

    a h1 strong{
        color: #ffffff;
    }

    a h1{
        color: #ffbd69;

    }


}

@media(max-width: 1300px){
    .about{
        padding-bottom: 5rem;

    }

    .cards-wrapper{
        flex-direction: column;
        align-items: center;
        margin-top: 4rem;

    }

    .card{
        margin-bottom: 8rem;
    }

    .hero{
        background-size: 450px;
        
    }

    .contact-wrapper{
        width: 90%;
        height: 55rem;
    }

    .contact-heading{
        margin-bottom: 2rem;
    }

    .field{
        margin: 2rem 0;
    }

    .title{
        font-family: sans-serif;
        font-size: 3.5rem;
        color: #ffbd69;
        padding-top: 1rem;
        font-weight: 500;
        text-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.5);;
    }

    .nav a{
        align-items: center;
        justify-content: center;
        display: flex;
        bottom: 1rem;
    }

    .nav a img{
        height: 6rem;
        width: 6rem;
    
        
    }

    .container1{
        width: 80%;

    }

    a h1 strong{
        color: #ffffff;
    }

    a h1{
        color: #ffbd69;

    }

}

@media(max-width: 1027){

    
}


@media(max-width: 900px){
    .welcome{
        font-size: 30px;
        
    }

    .about{
        width: 85%;
    }


    .hero{
        background-size: 400px;
        background-position: center right;
        
    }
    
    .main-message{
        width: 45%;
    }
    
    .name{
        font-size: 30px;
        color: #ffbd69; 
        text-shadow: 0 .3rem .5rem #202040;
    
        opacity: 0;
        animation: moveBanner 1s .5s forwards;
    }
    
    .tag-line{
        font-size: 20px;
    }

    .para{
        font-size: 15px;

    }

    #cta-btn{
        padding: .7rem 1.5rem;
        font-size: 12px;
    }

    .contact-left{
        width: 0;
    }

    .contact-info{
        width: 100%;
        
    }

    .field{
        width: 42rem;

    }

    .input-group textarea{
        max-width: 42rem;
    }

    .submit-btn{
        width: 42rem;
    }

    footer{
        height: 20rem;
    }

    .foot{
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 50%;
    }

    .footer-content{
        order: 1;
        margin-top: 2rem;
    }

    .nav-list{
        display: none;
    }

    

    .title{
        font-family: sans-serif;
        font-size: 3.5rem;
        color: #ffbd69;
        padding-top: 1rem;
        font-weight: 500;
        text-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.5);;
    }

    .nav a{
        align-items: center;
        justify-content: center;
        display: flex;
        bottom: 1rem;
    }

    .nav a img{
        height: 6rem;
        width: 6rem;
    
        
    }

    .container1{
        width: 55%;

    }

    a h1 strong{
        color: #ffffff;
    }

    a h1{
        color: #ffbd69;

    }

}

@media(max-width: 700px){
    .hero{
        background: none;
    }

    .main-message{
        width: 60%;
    }

    .about{
        width: 85%;
    }


    .welcome{
        font-size: 40px;
        
    }

    .hero{
        background-size: 700px;
    }
    
    
    .name{
        font-size: 50px;
        color: #ffbd69; 
        text-shadow: 0 .3rem .5rem #202040;
    
        opacity: 0;
        animation: moveBanner 1s .5s forwards;
    }
    
    .tag-line{
        font-size: 25px;
    }

    .para{
        font-size: 20px;
    }
    
    #cta-btn{
        padding: .9rem 2.5rem;
        font-size: 15px;

    }


    .field{
        width: 30rem;

    }

    .input-group textarea{
        max-width: 30rem;
    }

    .submit-btn{
        width: 30rem;
    }

    .foot{
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 50%;

    }

    footer{
        height: 20rem;
    }

    .footer-content{
        order: 1;
        margin-top: 2rem;
    }

    .nav-list{
        display: none;
    }

    .title{
        font-family: sans-serif;
        font-size: 3.5rem;
        color: #ffbd69;
        padding-top: 1rem;
        font-weight: 500;
        text-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.5);;
    }

    .nav a{
        align-items: center;
        justify-content: center;
        display: flex;
        bottom: 1rem;
    }

    .nav a img{
        height: 6rem;
        width: 6rem;
    
        
    }

    .container1{
        width: 50%;

    }

    a h1 strong{
        color: #ffffff;
    }

    a h1{
        color: #ffbd69;

    }

}

@media(max-width: 500px){
    html{
        font-size: 45%;
    }

    .welcome{
        font-size: 30px;
        
    }

    
    
    .name{
        font-size: 40px;
        color: #ffbd69; 
        text-shadow: 0 .3rem .5rem #202040;
    
        opacity: 0;
        animation: moveBanner 1s .5s forwards;
    }
    
    .tag-line{
        font-size: 25px;
    }

    .para{
        font-size: 15px;
    }
    
    #cta-btn{
        padding: .8rem 2rem;
        font-size: 12px;

    }

    .field{
        width: 28rem;

    }

    .about{
        width: 85%;
    }


    .input-group textarea{
        max-width: 28rem;
    }

    .submit-btn{
        width: 28rem;
    }

    .sidebar{
        width: 100%;
        right: -100%;
        background-color: #202040dc;
    }
    
    .change .hamburger-menu{
        right: 45rem;
    }

    .nav-list{
        display: none;
    }

    .title{
        font-family: sans-serif;
        font-size: 3.5rem;
        color: #ffbd69;
        padding-top: 1rem;
        font-weight: 500;
        text-shadow: 0 .1rem .3rem rgba(0, 0, 0, 0.5);;
    }

    .nav a{
        align-items: center;
        justify-content: center;
        display: flex;
        bottom: 1rem;
    }

    .nav a img{
        height: 6rem;
        width: 6rem;
    
        
    }

    .container1{
        width: 50%;


    }

    a h1 strong{
        color: #ffffff;
    }

    a h1{
        color: #ffbd69;

    }

    footer{
        height: 25rem;
    }

    

}

/* animations */
