@media (min-width: 1200px) {
  .section-m90 {
    margin-right: 90px;
    margin-left: 90px;
  }
}

@media (min-width: 1200px) {
  .section-p90 {
    padding-right: 90px;
    padding-left: 90px;
  }
}

@media (min-width: 1200px) {
  #mainNav {
    padding: 20px 100px;
    
  }
}
#mainNav.navbar-shrink {
	border-bottom: 1px solid rgba(33,37,41,.1);
  background-color: #fff;
  box-shadow: 0px 2px 20px #0000004f;
  opacity: 0.9;
}
.btn.btn-primary {
  background-color: #FFBD69;
  transition: transform .4s;
  padding: 10px 20px;
  border-radius: 7px;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 5 .2rem #ffbd69!important;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
  color: #fff;
  background-color: #FFBD69!important;
  transform: scale(1.1);
}

body {
  font-family: quicksand,Helvetica Neue,Arial,sans-serif;
}
#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
	color: #FFBD69;
}
#mainNav .navbar-brand {
	color: #FFBD69;
}
#mainNav.navbar-shrink .navbar-brand, #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
	color: #FFBD69;
}
#mainNav .navbar-nav > li.nav-item > a.nav-link.active, #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
	color: #FFBD69 !important;
	background-color: transparent;
}
#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover, #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover {
  color: #FFBD69;
}
.text-primary{
  color: #FFBD69 !important;
}
.bg-primary{
  background: #FFBD69 !important;
}
hr{
  border-color: #FFBD69;
}
.portfolio-box .portfolio-box-caption {
	background: #FFBD69;
}
@media (max-width: 991px) {
  .section{
    padding:30px;
  }
}
html{
  overflow-x: hidden;
}
body.modal-open {
  overflow: visible;
}
.font-10{
  font-size: 10px;
}
#loader{
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
  height: 100vh;
}
#main{
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}
#joinus,#contact {
  display: block;
  height: 92px;
  margin-top: -92px;
  visibility: hidden;
}